$DecomojiColors: (
  tomato: #dd3b40,
  chocolate: #c05b2c,
  gold: #9f7e00,
  olive: #688200,
  forest: #008c22,
  teal: #008780,
  cerulean: #0081b1,
  denim: #477f9b,
  danube: #5d79aa,
  lavender: #a156d2,
  azalea: #d43892,
  coral: #a36969
);

$DecomojiColorsTomato: #dd3b40;
$DecomojiColorsChocolate: #c05b2c;
$DecomojiColorsGold: #9f7e00;
$DecomojiColorsOlive: #688200;
$DecomojiColorsForest: #008c22;
$DecomojiColorsTeal: #008780;
$DecomojiColorsCerulean: #0081b1;
$DecomojiColorsDenim: #477f9b;
$DecomojiColorsDanube: #5d79aa;
$DecomojiColorsLavender: #a156d2;
$DecomojiColorsAzalea: #d43892;
$DecomojiColorsCoral: #a36969;
